#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/php-horde-core

%:
	dh $@ --buildsystem=phppear --with phppear

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=phppear
	# Remove references to embedded libs removed by git-import-orig
	sed -i '/js\/excanvas\//d' */package.xml
	sed -i '/js\/jquery.mobile\/images\//d' */package.xml
	sed -i '/js\/jquery.mobile\/jquery\.mobile\.js/d' */package.xml
	sed -i '/js\/jquery.mobile\/jquery\.mobile\.min\.js/d' */package.xml
	sed -i '/js\/jquery.mobile\/jquery\.mobile\.min\.css/d' */package.xml
	sed -i '/js\/jquery.mobile\/jquery\.js/d' */package.xml
	sed -i '/js\/jquery.mobile\/jquery\.min\.js/d' */package.xml
	sed -i '/js\/prototype\.js/d' */package.xml
	sed -i '/js\/scriptaculous/d' */package.xml

override_dh_link:
	# Embedded JS libs
	# ... from package libjs-excanvas
	rm -r $(DESTDIR)/usr/share/horde/js/excanvas
	dh_link usr/share/javascript/excanvas usr/share/horde/js/excanvas
	# ... from package libjs-jquery-mobile
	rm -r $(DESTDIR)/usr/share/horde/js/jquery.mobile/images/
	dh_link usr/share/javascript/jquery-mobile/images/ usr/share/horde/js/jquery.mobile/images
	rm $(DESTDIR)/usr/share/horde/js/jquery.mobile/jquery.mobile.js
	dh_link usr/share/javascript/jquery-mobile/jquery.mobile.js usr/share/horde/js/jquery.mobile/jquery.mobile.js
	rm $(DESTDIR)/usr/share/horde/js/jquery.mobile/jquery.mobile.min.js
	dh_link usr/share/javascript/jquery-mobile/jquery.mobile.min.js usr/share/horde/js/jquery.mobile/jquery.mobile.min.js
	rm $(DESTDIR)/usr/share/horde/js/jquery.mobile/jquery.mobile.min.css
	dh_link usr/share/javascript/jquery-mobile/jquery.mobile.min.css usr/share/horde/js/jquery.mobile/jquery.mobile.min.css
	# ... from libjs-jquery
	rm $(DESTDIR)/usr/share/horde/js/jquery.mobile/jquery.js
	dh_link usr/share/javascript/jquery/jquery.js usr/share/horde/js/jquery.mobile/jquery.js
	rm $(DESTDIR)/usr/share/horde/js/jquery.mobile/jquery.min.js
	dh_link usr/share/javascript/jquery/jquery.min.js usr/share/horde/js/jquery.mobile/jquery.min.js
	# ... from package libjs-prototype
	rm $(DESTDIR)/usr/share/horde/js/prototype.js
	dh_link usr/share/javascript/prototype/prototype.js usr/share/horde/js/prototype.js
	# ... from package libjs-scriptaculous
	rm -r $(DESTDIR)/usr/share/horde/js/scriptaculous
	dh_link usr/share/javascript/scriptaculous usr/share/horde/js/scriptaculous
